@import url('https://fonts.googleapis.com/css2?family=Literata');


body {
  background-color:silver;
    
}

.display-2 {
  color: #50C7D6;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.display-4 {
    color: #50C7D6;
    font-weight: bold;
    font-size: 40px;
    
}

.navbar-nav .nav-item .nav-link {
  color:black;
}
.navbar-nav .nav-itm.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  background-color: silver;
}

.navbar-brand {
    color: white;
    font-family: verdana;
    font-weight: bold;
    font-size: 28px;
    background-color: #50C7D6;
    padding: 10px;
    }


/* landing page*/

.col-md-8, .col-md-4 {
  padding:30px !important;
  padding-top:0px !important;
}

.main-box {
  padding:30px;
  width:100%;
  margin-top:30px;
  min-height: 70vh;
}
.main-box a{
  float: left;
}
.main-box a img{
  width: 175px;
  height: 175px;
  margin-top:0px;
  margin-right: 10px;
  margin-left: 15px
}

/* footer on the landing page*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  border-top: 5px solid #50C7D6;
  line-height: 30px;
}

/* comparison page*/
.comparison-box {
  padding:30px;
  width:100%;
  margin-top:30px;
  min-height: 70vh;
}

.comparison-box a img{
  width: 150px;
  height: 150px;
  margin-top:0px;
  margin-right: 10px;
}
.whiteback {
  background-color: white;
}

.image-box {
  padding: 30px;
  margin:30px;
  width: 100%;
}


.comparison-box a img {
  padding-top: 5px;
  padding-bottom: 10px;
  width: 600px;
  height: 500px;
}

/* table on the data page*/
.table tr {
  text-align: center;
}




@media only screen and (max-width: 786px) {
  body {
    background-color: lightblue;
  }

  .whiteback {
    background-color:lightgoldenrodyellow;
  }

  .navbar-nav .nav-itm.active .nav-link,
  .navbar-nav .nav-item:hover .nav-link {
  background-color:lightsteelblue;
  }

}
